<!-- <p>{{ headers | json }}</p>
<p>{{ collection | json }}</p> -->

<table class="table">
  <thead>
    <tr>
      <th *ngFor="let h of headers">{{ h }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-template [ngIf]="collectionOrder" [ngIfElse]="clientCollection">
      <tr *ngFor="let c of collectionOrder">
        <td>{{ c.typePresta }}</td>
        <td>{{ c.client }}</td>
        <td>{{ c.tjmHT }}</td>
        <td>{{ c | total | currency: 'EUR' }}</td>
        <td>{{ c | total: 'TTC' | currency: 'EUR' }}</td>
        <td>{{ c.state }}</td>
      </tr>
    </ng-template>
    <ng-template #clientCollection>
      <tr *ngFor="let c of collectionClient">
        <td>{{ c.state }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.ca }}</td>
        <td>{{ c.total() }}</td>
        <td>{{ c.comment }}</td>
      </tr>
    </ng-template>
  </tbody>
</table>
