<!-- HEADER -->
<header class="fixed-top">
  <!-- va chercher le component dans app.component.html - Ne pas directement importer depuis le module core! -->
  <app-icon-nav (click)="switch()"></app-icon-nav>
  <ng-content select="app-header"></ng-content>
</header>

<!-- BODY -->
<main [ngClass]="{'close-aside': !open}">
  <div class="shadow position-fixed">
  </div>

  <aside>
    <div class="scroller">
      <ng-content select="app-navbar"></ng-content>
    </div>
  </aside>

  <div class="page">
    <div class="contents">
      <ng-content select=".content"></ng-content>
    </div>

    <footer>
      <ng-content select="app-footer"></ng-content>
    </footer>
  </div>


</main>
