<app-titres-c [title]="title" [subtitle]="subtitle">
  <app-table-striped *ngIf="users " [headers]="headers">
      <tr *ngFor="let u of users">
        <td [appColorRole]="u.role">{{ u.username }}</td>
        <td [appColorRole]="u.role">{{ u.role }}</td>
      </tr>
    <!-- <div *ngIf="user.role !== 'ADMIN'">
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
      </tr>
    </div> -->
  </app-table-striped>

  <app-btn [label]="btn.label" [route]="btn.route"></app-btn>
</app-titres-c>
