<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Champs Type -->
    <div class="form-goup">
      <label for="typePresta">Type</label>
      <input formControlName="typePresta" type="text" class="form-control" id="typePresta">
    </div>
     <!-- Champs Client -->
    <div class="form-goup">
      <label for="client">Client</label>
      <input formControlName="client" type="text" class="form-control" id="client">
    </div>
    <!-- <div *ngIf="form.get('client').invalid && form.get('tva').touched" class="alert alert-danger">Champs invalide</div>
    <div *ngIf="form.get('client').error?.required && form.get('tva').touched" class="alert alert-danger">Champs invalide</div>
    <div *ngIf="form.get('client').error?.minlenght && form.get('tva').touched" class="alert alert-danger">Min 5 char</div> -->


    <!-- Champs nb jour -->
    <div class="form-goup">
      <label for="nbJours">Nombre jours</label>
      <input formControlName="nbJours" type="number" class="form-control" id="nbJours">
    </div>
    <!-- tjm -->
    <div class="form-goup">
      <label for="tjmHT">Nombre jours</label>
      <input formControlName="tjmHT" type="number" class="form-control" id="tjmHT">
    </div>

    <!-- Champs tva -->
    <div class="form-goup">
      <label for="tva">TVA</label>
      <input formControlName="tva" type="number" class="form-control" id="tva">
    </div>
    <!-- Champs state -->
    <div class="form-goup">
      <label for="state">Etat</label>
      <select formControlName="state" class="form-control" id="state">
        <option *ngFor="let item of states" [ngValue]="item">{{item}}</option>
      </select>
    </div>
    <!-- Champs comment -->
    <div class="form-goup">
      <label for="comment">Comment</label>
      <textarea formControlName="comment" class="form-control" id="comment"></textarea>
    </div>

    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Sauvegarder</button>
  </form>
  </div>
